.header-block {
  display: flex;
  align-items: center;
  height: 150px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1,
  h3 {
    color: #fff;
  }
  h1 {
    font-weight: bold;
    font-size: 42px;
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
  }
  &__center {
    text-align: center;
    position: relative;
  }
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
